<!DOCTYPE html>
<html>
<head>
    <title>Bảng xếp hạng</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h2>Bảng xếp hạng</h2>
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Tài khoản</th>
                <th>Điểm</th>
                <th>Tổng cược</th>
                <th>Tỉ lệ thắng</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, idx) => { %>
                <tr>
                    <td><%= idx + 1 %></td>
                    <td><%= user.username %></td>
                    <td><%= user.score %></td>
                    <td><%= user.totalBets %></td>
                    <td><%= user.winRate %>%</td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <p><a class="btn return-home" href="/">Quay về trang chủ</a></p>
</div>
</body>
</html>
